.link {
	display: block;
	border: solid black 1px;
	margin-bottom: 10px;
	width: 100%
	min-width: 150px;
	padding-top: 90px;
	padding-left: 5px; 
	font-family: "Helvetica";
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	text-decoration: line-through;
}

#intro {
	height: 100px;
	font-family: "Helvetica";
}